<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("layouts.header.logo"), id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("layouts.header.nav.home"), Settings.links.home %></li>
        <li><%= link_to t("layouts.header.nav.help"), Settings.links.help %></li>
        <li><%= link_to t("layouts.header.nav.log_in"), Settings.links.login %></li>
        </ul>
      </nav>
  </div>
</header>
